@{
    ViewBag.Title = "Ошибка";
    Layout = "";
}
@Styles.Render("~/Content/css")


<h2>@ViewBag.Title.</h2>
<h3>У вас нет прав </h3>

<p>Поменяйте роль или зайдите под другим пользователем.</p>

<a class="btn btn-default" href="/account/Login"> &nbsp;&nbsp;В начало&nbsp;&nbsp; </a><br>

